<!-- Libs JS -->
    <script src="@@webRoot/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="@@webRoot/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="@@webRoot/node_modules/select2/dist/js/select2.full.min.js"></script>
    <script src="@@webRoot/node_modules/select2/dist/js/select2.min.js"></script> 
    <script src="@@webRoot/node_modules/jquery-raty-js/lib/jquery.raty.js"></script> 
    <script src="@@webRoot/node_modules/datatables/media/js/jquery.dataTables.min.js"></script> 
    <script src="@@webRoot/node_modules/dataTables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="@@webRoot/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="@@webRoot/node_modules/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="@@webRoot/node_modules/jquery.easing/jquery.easing.min.js"></script>     
    <script src="@@webRoot/node_modules/prismjs/prism.js"></script> 
    <script src="@@webRoot/node_modules/dropzone/dist/min/dropzone.min.js"></script>
    <script src="@@webRoot/node_modules/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
    <script src="@@webRoot/node_modules/leaflet/dist/leaflet.js"></script>

     
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"></script>

  
  
 
    
    
  
  

<!-- Theme JS -->
<!-- build:js @@webRoot/assets/js/theme.min.js -->
  
   <script src="@@webRoot/assets/js/main.js"></script>
   <script src="@@webRoot/assets/js/owl.carousel.min.js"></script>
   <script src="@@webRoot/assets/js/slick.min.js"></script>
   <script src="@@webRoot/assets/js/nouislider.min.js"></script> 
   <script src="@@webRoot/assets/js/wNumb.js"></script>   
   <script src="@@webRoot/assets/js/copy-button.js"></script> 
   <script src="@@webRoot/assets/js/live-search.js"></script>
   <script src="@@webRoot/assets/js/scrolling-nav.js"></script> 
   <script src="@@webRoot/assets/js/jquery.countTo.js"></script> 
   <script src="@@webRoot/assets/js/bootstrap-datepicker.min.js"></script>
   <script src="@@webRoot/assets/js/data-table.js"></script>
   <script src="@@webRoot/assets/js/toast-script.js"></script>             
   <script src="@@webRoot/assets/js/validation-script.js"></script> 
   <script src="@@webRoot/assets/js/jquery.sticky.js"></script>
   <script src="@@webRoot/assets/js/half-map.js"></script>
   <script src="@@webRoot/assets/js/listing-map.js"></script>
   

  



       

   


 

   
  
    


  
   
